* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    width: auto;
}

.drop {
    animation-name: drop;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
}

@keyframes drop {
    0% {
        transform: translateY(0);
    }
      100% {
        transform: translateY(75%);
      }
}
